<footer>
    <div class="socials">
        <h1 class="footerTitle">¡Seguinos en nuestras redes sociales!</h1>
        <div class="socialsIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
    </div>
    <div class="categories">
        <h2 class="footerTitle">Categorías:</h2>
        <div class="categoriesList">
            <a href="/productsNew">Novedades</a>
            <a href="/productsFeatured">Destacados</a>
            <a href="/productsOnSale">Ofertas</a>
            <a href="/productList">Todos los productos</a>
        </div>
    </div>
    <div class="access">
        <a href="/login">Iniciá Sesión</a>
        <p>|</p>
        <a href="/register">Registrate</a>
    </div>
    <div class="linkedin">
        <div class="linkedinMembers">
            <a href="">Tobías Ramírez</a>
            <a href="">Felipe Bolgar</a>
            <a href="">Elian Jacobsen</a>
            <a href="">Jonathan Gómez</a>
        </div>
    </div>
</footer>