*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* estilos slider */
.slider{
    width: 95%;
    margin: auto;
}
.sliderMargin{
    margin-top: 1rem;
}
/* Productos y Secciones */
.titulo{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Lobster';
}
.indexParrafo{
    width: 90%;
    margin: auto;
    color: #000;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 90%;
    height: auto;
    text-align: center;
    margin: auto;
}
.container img{
    margin-top: 1.5rem;
    width: 30%;
}
.previewButton{
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    width: 30%;
    font-family: 'Lobster';
    color: #fff;
    background-color: #341b1b;
    box-shadow: -1px 1px 14px 0px rgba(52,27,27,0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(52,27,27,0.75);
    -moz-box-shadow: -1px 1px 14px 0px rgba(52,27,27,0.75);
}
  /* metodos de pago */
.paymentMethod{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.method{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.method i{
    font-size: 2rem;
}
.method p{
    color: #000;
}
/*media querys*/
/*tablet*/
@media (min-width: 520px){
    .method i{
        font-size: 2.5rem;
    }
    .container{
        width: 90%;
        height: auto;
        text-align: center;
        margin: auto;
    }
    .container img{
        margin-top: 2rem;
        max-width: 30%;
        position: relative;
        transition: transform 0.5s, z-index 0.5s, box-shadow 0.5s;
        margin-bottom: 1rem;
    }
    .img1{
        left: 25px;
        z-index: 1;
    }
    .img2{
        left: 0px;
        z-index: 2;
    }
    .img3{
        right:25px;
        z-index: 3;
    }
    .container img:hover{
        transform: scale(1.15);
        z-index: 5;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .previewButton{
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        background-color: transparent;
        width: 30%;
        color: #341b1b;
        box-shadow: none;
        border: 1px solid #341b1b;
        transition: all 0.5s;
    }
    .previewButton:hover{
        background-color: #341b1b;
        color: #fff;
        box-shadow: -1px 1px 14px 0px rgba(52,27,27,0.75);
        -webkit-box-shadow: 0px 0px 14px 0px rgba(52,27,27,0.75);
        -moz-box-shadow: -1px 1px 14px 0px rgba(52,27,27,0.75);
    }
}
/*desktop*/
@media (min-width: 1280px){
    .slider{
        width: 70%;
    }
    
    .method i{
        font-size: 4rem;
    }
    .method p{
        font-size: 1.2rem;
    }
    .container{
        width: 90%;
        height: auto;
        text-align: center;
        margin: auto;
        /* background-image: url('/images/fondotest3.png');
        background-color: rgba(0, 0, 0, 0.1);
        background-size: cover; */
    }
    .container img{
        margin-top: 2rem;
        position: relative;
        transition: transform 0.5s, z-index 0.5s, box-shadow 0.5s;
        margin-bottom: 2rem ;
        width: 25%;
    }
    .img1{
        left: 25px;
        z-index: 1;
    }
    .img2{
        left: 0px;
        z-index: 2;
    }
    .img3{
        right:25px;
        z-index: 3;
    }
    .container img:hover{
        transform: scale(1.15);
        z-index: 5;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .previewButton{
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }
    main p{
        text-align: center;
        font-size: 1.5rem;
    }
    section p{
        text-align: center;
        font-size: 1.5rem;
    }
    .titulo{
        margin-bottom: 2rem;
    }
}