/* TITULOS */
/* font-family: 'Lobster', cursive; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* Estilos para el header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #333;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
}
.logo{
    width: 100px;
    height: 100px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}
.nav-list li a{
    text-decoration: none;
    color: #d1d1d1;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
}
.nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.searchBar{
    position: relative;
}
.searchBar input{
    max-width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}
.searchBar button{
    background-color: white;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #333;
    cursor: pointer;
}
.boton{
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}
.userDropdown{
    display: none;
}
.productCart a{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.userOption{
    color: #d1d1d1;
    text-decoration: none;
}
.cartIcon{
    display: none;
}
.cartOption{
    color: #d1d1d1;
    text-decoration: none;
}
/* estilos slider */
.slider{
    width: 95%;
    margin: auto;
}
.sliderMargin{
    margin-top: 1rem;
}
/* Productos y Secciones */
.indexMain{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.category{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.categoryTitle{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.categoryCard{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1rem;
}
.categoryCard p{
    color: #000;
}
.categoryCard button{
    border: 1px solid #d1d1d1;
    background-color: transparent;
    font-family: 'Lobster', cursive;
}
.paymentMethod{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.method{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.method i{
    font-size: 2rem;
}
.method p{
    color: #000;
}
/* Estilos para el footer */
footer{
    background-color: #333;
    text-align: center;
}
.footerTitle{
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    padding-top: 1rem;
    color: #fff;
}
.socialsIcons{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.socialsIcons i{
    color: #fff;
    margin: 0.5rem;
    font-size: 1.5rem;
}
.categories{
    width: 90%;
    margin: auto;
}
.categoriesList{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.categoriesList a{
    text-decoration: none;
    color: #fff;
}
.access{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.access a, p{
    text-decoration: none;
    margin: 0.5rem;
    color: #fff;
}
.linkedin{
    margin-top: 1rem;
    font-size: 0.5rem;
}
.linkedin a{
    text-decoration: none;
    color: #fff;
}
.linkedinMembers{
    display: flex;
    justify-content: space-evenly;
}
/*media querys*/
/*tablet*/
@media (min-width: 520px){
    .searchBar input{
        max-width: 350px;
    }
    .accountMenu{
        display: flex;
    }
    .accountMenu i{
        display: none;
    }
    .accountMenu a{
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }
    .navigation{
        justify-content: space-evenly;
    }
    .linkedinMembers{
        font-size: 0.8rem;
    }
    .method i{
        font-size: 2.5rem;
    }
    .abrir-menu{
        display: none;
    }
    .nav{
        flex-direction: row;
        display: block;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
        padding: 0;
    }
    .nav-list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav-list li a{
        color: #fff;
    }
    .cerrar-menu{
        display: none;
    }
    header{
        padding: 1rem;
    }
    .cartOption{
        display: none;
    }
    .cartIcon{
        display: block;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
    }
    .userDropdown{
        display: block;
        color: #fff;
        font-size: 2rem;
        padding-right: 5rem;
        cursor: pointer;
    }
    .userOption{
        display: none;
    }
}
/*desktop*/
@media (min-width: 1280px){
    .searchBar input{
        width: 400px;
    }
    .accountMenu{
        display: flex;
    }
    .accountMenu i{
        display: none;
    }
    .accountMenu a{
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.2rem;
    }
    .slider{
        width: 70%;
    }
    .navigation a{
        font-size: 1.2rem;
    }
    .categoryTitle{
        font-size: 2.5rem;
    }
    .categoryCard{
        width: 25%;
    }
    .method i{
        font-size: 4rem;
    }
    .method p{
        font-size: 1.2rem;
    }
    .abrir-menu{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }
    .nav{
        flex-direction: row;
        display: block;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: row;
    }
    .nav-list li a{
        color: #fff;
        font-size: 1.2rem;
    }
    header{
        padding: 2rem;
    }
}