body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .artwork {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .artwork img {
    max-width: 300px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .artwork-details {
    display: flex;
    width: auto;
 flex-direction: column;
  }
  .artwork-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .artwork-artist {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  .artwork-price {
    font-size: 18px;
    color: #030000;
    margin-bottom: 10px;
  }
  .artwork-description {
    font-size: 16px;
    line-height: 1.5;
  }
  .artwork-image {
   height:500px;
   width: 300px;
  }
  .container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .buttons{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: transparent;
  }
  .number{
    margin:0 10px ;
  }
  .carrito{
    background-color: transparent;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    width: 300px;
}

@media (max-width: 767px){
 .artwork {
    flex-direction: column;
    align-items: center;
  }
  .artwork img {
    margin-right: 0;
  }
  .artwork-details {
    text-align: center;
  }
  .container-button {
    margin-top: 10px;
     text-align: center;  
     justify-content: center;
  }
  .carrito{
    width: 100%;
    border-radius: 0;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

 }
  
}  
@media (min-width: 768px)and (max-width:990px){}

@media (max-width: 991px){}