/* Estilos para el header */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
    height: 80px;
    background-color: #272727;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
}
.logo{
    width: 70px;
    height: 70px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}
.nav-list li a{
    text-decoration: none;
    color: #d1d1d1;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #272727;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
}
.boton.pequeño {
    font-size: 0.8em; /* Ajusta el tamaño del texto */
    padding: 5px 10px; /* Ajusta el padding para que el botón sea más pequeño */
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
/* dropdown menu */
.dropdown-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
}
.dropdownSpan{
    color: #f1f1f1;
    display: none;
}
/* Search Bar */
.searchBar{
    position: relative;
}
.searchBar input{
    max-width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}
.searchBar button{
    background-color: white;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #333;
    cursor: pointer;
}
.boton{
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}
.userDropdown{
    display: none;
}
.productCart a{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.userOption{
    color: #d1d1d1;
    text-decoration: none;
}
.cartIcon{
    display: none;
}
.cartOption{
    color: #d1d1d1;
    text-decoration: none;
}
@media (min-width: 520px){
    .searchBar input{
        max-width: 350px;
    }
    .accountMenu{
        display: flex;
    }
    .accountMenu i{
        display: none;
    }
    .accountMenu a{
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }
    .navigation{
        justify-content: space-evenly;
    }
    .abrir-menu{
        display: none;
    }
    .nav{
        flex-direction: row;
        display: block;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
        padding: 0;
    }
    .nav-list{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .nav-list li a{
        color: #fff;
    }
    .cerrar-menu{
        display: none;
    }
    header{
        padding: 1rem;
    }
    .cartOption{
        display: none;
    }
    .cartIcon{
        display: block;
        color: #fff;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .userDropdown{
        display: block;
        color: #fff;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .userOption{
        display: none;
    }
    /* dropdown menu */
    .dropdown {
        position: relative;
        display: block;
    }
    .dropdownSpan{
        color: #f1f1f1;
        display: block;
        font-size: 1.2rem;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        top: 25px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropdownOption{
        color: #341b1b;
        border: #d1d1d1 2px solid;
    }
    /* Estilos de los elementos del menú */
    .dropdown-content a{
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: #fff;
    }
    .dropdown-content .dropdownOption:hover {
        background-color: #272727;
        color: #fff;
    }
}
/*desktop*/
@media (min-width: 1280px){
    .searchBar input{
        width: 400px;
    }
    .accountMenu{
        display: flex;
    }
    .accountMenu i{
        display: none;
    }
    .accountMenu a{
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.2rem;
    }
    .abrir-menu{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }
    .nav{
        flex-direction: row;
        display: block;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: row;
        align-items: center;
    }
    .nav-list li a{
        color: #fff;
        font-size: 1.2rem;
    }
    header{
        padding: 2rem;
    }
    .userDropdown{
        font-size: 2rem;
    }
    .cartIcon{
        font-size: 2rem;
    }
}