<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario-de-registro</title>
</head>
<body>
    <section class="register">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre">
        <input class="controls" type="email" name="emails" id="emails" placeholder="Email">
        <input class="controls" type="password" name="contraseñas" id="contraseñas" placeholder="Contraseña">
        <input class="controls" type="password" name="confirmar-contraseña" id="confirmar-contraseña" placeholder="Confirmar Contraseña">
        <input class="boton" type="submit" value="Crear Cuenta">
        <p>¿Ya tenes una cuenta?<a href="#">Iniciar Secion</a></p>
    </section>
</body>
</html>