<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Arte | Tienda de Arte</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="/public/images/logo1.jpg" alt="Mercado Arte"></a>
            </div>
            <div class="busqueda">
                <input type="text" placeholder="Buscar productos">
                <button type="submit">Buscar</button>
            </div>
            <div class="usuario">
                <a href="perfil.html">Mi Perfil</a>
                <a href="carrito.html">Carrito de Compras (0)</a>
            </div>
        </nav>
    </header>

    <main>
        <!--Banner-->
        <div>
            <a href="/public/images/banner.png" alt="banner artistico"></a>
        </div>
        <section class="productos">
            <!-- Producto 1 -->
            <article class="producto">
                <img src="producto1.jpg" alt="Producto 1">
                <h2>(Nombre de la obra) </h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="1">Agregar al Carrito</button>
            </article>

            <!-- Producto 2 -->
            <article class="producto">
                <img src="producto2.jpg" alt="Producto 2">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="2">Agregar al Carrito</button>
            </article>
            <!-- Producto 3 -->
            <article class="producto">
                <img src="producto1.jpg" alt="Producto 3">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="3">Agregar al Carrito</button>
            </article>

            <!-- Producto 4 -->
            <article class="producto">
                <img src="producto2.jpg" alt="Producto 4">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="4">Agregar al Carrito</button>
            </article>            
            <!-- Producto 5 -->
            <article class="producto">
                <img src="producto1.jpg" alt="Producto 5">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="5">Agregar al Carrito</button>
            </article>

            <!-- Producto 6 -->
            <article class="producto">
                <img src="producto2.jpg" alt="Producto 6">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="6">Agregar al Carrito</button>
            </article>
                        <!-- Producto 5 -->
            <article class="producto">
                <img src="producto1.jpg" alt="Producto 5">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="5">Agregar al Carrito</button>
            </article>

            <!-- Producto 6 -->
            <article class="producto">
                <img src="producto2.jpg" alt="Producto 6">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="6">Agregar al Carrito</button>
            </article>
            <!-- Producto 7 -->
            <article class="producto">
                <img src="producto1.jpg" alt="Producto 7">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="7">Agregar al Carrito</button>
            </article>

            <!-- Producto 8 -->
            <article class="producto">
                <img src="producto2.jpg" alt="Producto 8">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="8">Agregar al Carrito</button>
            </article>
            <!-- Producto 9 -->
            <article class="producto">
                <img src="producto1.jpg" alt="Producto 9">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="7">Agregar al Carrito</button>
            </article>

            <!-- Producto 10 -->
            <article class="producto">
                <img src="producto2.jpg" alt="Producto 10">
                <h2>(Nombre de la obra)</h2>
                <p>Descripción de la obra de arte.</p>
                <p>Precio: $XX.XX</p>
                <button class="agregar-carrito" data-producto="10">Agregar al Carrito</button>
            </article>
        </section>
    </main>

    <footer>
        <section>
        <p>&copy; 2023 Mercado Arte - Todos los derechos reservados</p>
        </section>
        <!-- Perfiles linkedin de los integrantes-->
        <section>
        <h3>Perfiles de linkedin del grupo 7:</h3>
            <a href="">Agustín Arias</a>
            <a href="">Elian Jacobsen</a>
            <a href="">Jonathan Ramirez</a>
            <a href="">Santiago Soto</a>
            <a href="">Felipe Bolgar</a>
        </section>
    </footer>
</html>
