<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <a href="/"><img class="logo-page" src="/images/logo1.jpg" alt="Mercado-Arte-Logo"></a>
    </header>
    <main>
        <div class="container">
            <h1>Iniciar secion</h1>
            <p>Mantenete actualizado en Mercado Arte</p>
            <form action="#" method="POST">
                <input type="text" name="user-name" id="user-name" placeholder="Nombre">
                <input type="password" name="user-password" id="user-password" placeholder="Contraseña">
                <a class="password-forgot" href="#">Olvidaste tu contraseña?</a>
                <button type="submit">Iniciar secion</button>
                <p class="or"><span class="span-or">or</span></p>
                <p>No tenes una cuenta? <span><a href="/register">Registrate</a></span></p>
            </form>
        </div>
    </main>
</body>
</html>