<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Destacados</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Nuestros Productos Destacados</h1>
    <div>
        <!-- armar partial para todas las secciones y ya -->
    </div>
    <%- include('partials/footer') %>
</body>
</html>