<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons-->
    <!--Roboto-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Lobster -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- css mio -->
    <link rel="stylesheet" href="/css/productListStyles.css">
    <title>Galeria Productos</title>
</head>
<body>
    <h1>Todos los Productos!</h1>
    <div class="filtros">
        <h2>Filtrá tus productos</h2>
        <i class="fa-solid fa-bars menuHamburguesa"></i>
        <div class="filterContainer">
            <ul class="filterList">
                <li>Precio Ascendente <i class="fa-solid fa-arrow-up-short-wide"></i></li>
                <li>Precio Descendente <i class="fa-solid fa-arrow-down-wide-short"></i></li>
                <li>Autor <i class="fa-solid fa-palette"></i></li>
                <li>Técnica <i class="fa-solid fa-paintbrush"></i></li>
            </ul>
        </div>
    </div>
    <main class="caja">
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
        <div class="cardProducto">
            <img src="/images/imagetest.jpeg" alt="">
            <div class="cardProductoText">
                <p>Abstracción Contemple</p>
                <p class="cardProductoPrice">$10000</p>
                <button>Ver más</button>
            </div>
        </div>
    </main>
</body>
</html>