<!DOCTYPE html>
<html lang="es">
<head>
  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">


<title>Detalle de Obra de Arte</title>
<style>
</style>
</head>
<body>  
  <div class="container">
    <div class="artwork">
      <img src="/images/Gritona.jpg" alt="Obra de Arte" class="artwork-image"/>
      <div class="container-right"> 
        <div class="artwork-details"> 
          <h2 class="artwork-title">Título de la Obra de Arte</h2>
          <p class="artwork-artist">Artista: Nombre del Artista</p>
          <p class="artwork-price">$250</p>
          <p class="artwork-description">Esta es una descripción detallada de la obra de arte. Incluye información sobre el estilo, la técnica utilizada y cualquier otra característica importante que los interesados puedan querer saber.</p>
        </div>
        <div class="container-button"> 
         <button class="buttons">+</button> 
         <p class="number"> 0 </p>
         <button class="buttons">-</button> 
      </div>
      <button class="carrito">Agregar al carrito </button>
      </div>
    </div>
  </div>
</body>
</html>