<footer>
    <div class="socials">
        <h1 class="footerTitle">¡Seguinos en nuestras redes sociales!</h1>
        <div class="socialsIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
    </div>
    <div class="categories">
        <h2 class="footerTitle">Categorías:</h2>
        <div class="categoriesList">
            <a href="">Novedades</a>
            <a href="">Destacados</a>
            <a href="">Ofertas</a>
            <a href="">Todos los productos</a>
        </div>
    </div>
    <div class="access">
        <a href="">Iniciá Sesión</a>
        <p>|</p>
        <a href="">Registrate</a>
    </div>
    <div class="linkedin">
        <div class="linkedinMembers">
            <a href="">Tobías Ramírez</a>
            <a href="">Felipe Bolgar</a>
            <a href="">Santiago Soto</a>
            <a href="">Elian Jacobsen</a>
            <a href="">Jonathan Uriel Gómez</a>
        </div>
    </div>
</footer>