<footer>
    <section>
    <p>&copy; 2023 Mercado Arte - Todos los derechos reservados</p>
    </section>
    <!-- Perfiles linkedin de los integrantes-->
    <section>
    <h3>Perfiles de linkedin del grupo 7:</h3>
        <a href="">Agustín Arias</a>
        <a href="">Elian Jacobsen</a>
        <a href="">Jonathan Ramirez</a>
        <a href="">Santiago Soto</a>
        <a href="">Felipe Bolgar</a>
    </section>
</footer>