<header>
    <nav>
        <div>
            <a href=""><img src="/images/logo1.jpg" alt="logo"></a>
        </div>
        <div class="searchBar">
            <input type="text" placeholder="Busca por título o autor...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="productCart">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="accountMenu">
            <i class="fa-solid fa-user"></i>
            <a href="">Logueate</a>
            <a href="">Regístrate</a>
        </div>
    </nav>
    <div class="navigation">
        <a href="">Novedades</a>
        <a href="">Destacados</a>
        <a href="">Ofertas</a>
        <a href="">Todos los productos</a>
    </div>
</header>