<header>
    <nav>
        <div class="logo">
            <a href="index.html"><img src="/images/logo1.jpg" alt="Mercado Arte"></a>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar productos">
            <button type="submit">Buscar</button>
        </div>
        <div class="usuario">
            <a href="perfil.html">Mi Perfil</a>
            <a href="carrito.html">Carrito de Compras (0)</a>
        </div>
    </nav>
</header>