<header>
        <a href="/"><img class="logo" src="/images/logoo.png" alt="Logo"></a>
        <div class="searchBar">
            <input type="text" placeholder="Busca por título o autor...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <button class="abrir-menu boton" id="abrir"><i class="fa-solid fa-bars"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu boton" id="cerrar"><i class="fa-solid fa-xmark"></i></button>
            <ul class="nav-list">
                <i class="fa-solid fa-user userDropdown"></i>
                <a href="/login" class="userOption">Logueate</a>
                <a href="/register" class="userOption">Regístrate</a>
                <!-- <li><a href="#">Novedades</a></li>
                <li><a href="#">Destacados</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="/productList">Productos</a></li> -->
                <div class="dropdown">
                    <span class="dropdownSpan">Todo</span>
                    <div class="dropdown-content">
                        <li><a class="dropdownOption" href="/productsNew">Novedades</a></li>
                        <li><a class="dropdownOption" href="/productsFeatured">Destacados</a></li>
                        <li><a class="dropdownOption" href="/productsOnSale">Ofertas</a></li>
                        <li><a class="dropdownOption" href="/productList">Productos</a></li>
                    </div>
                </div>
                <a href="/productcart" class="cartOption">Mi Carrito</a>
                <a href="/productcart" class="cartIcon"><i class="fa-solid fa-cart-shopping"></i></a>
            </ul>
        </nav>
</header>