<div class="cardProducto">
    <img src="producto.img" alt="">
    <div class="cardProductoText">
        <p>producto.name</p>
        <p class="cardProductoPrice">$producto.price</p>
        <button>Ver más</button>
    </div>
</div>