<div class="cardProducto">
    <img src="producto.img" alt="">
    <div class="cardProductoText">
        <p>products.title</p>
        <p class="cardProductoPrice">$products.price</p>
        <button>Ver más</button>
    </div>
</div>