<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Crea tu producto</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="css/CreateProduct.css" />
    <script>
      function validateForm() {
        
        alert('Sus cambios han sido exitosos');
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Crea tu producto</h1>
      <form action="#" onsubmit="event.preventDefault(); validateForm();">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName">Titulo</label>
            <input type="text"
                    id="Titulo"
                    name="Titulo"
                    placeholder="Titulo de la obra"/>
          </div>
          <div class="user-input-box">
            <label for="username">Precio</label>
            <input type="text"
                    id="Precio"
                    name="Precio"
                    placeholder="Valor de la obra"/>
          </div>
          <div class="user-input-box">
            <label for="Fecha">Fecha de creacion</label>
            <input type="Fecha"
                    id="Creation_date"
                    name="Fecha"
                    placeholder="Ingrese la fecha de creacion"/>
          </div>
          <div class="user-input-box">
            <label for="Descuento">Descuento%</label>
            <input type="text"
                    id="on_sale"
                    name="on_sale"
                    placeholder="Ingresa el descuento%"/>
          </div>
          <div class="user-input-box">
            <label for="password">Descripcion</label>
            <input type="text"
                    id="Description"
                    name="Description"
                    placeholder="Ingrese la descripcion del producto"/>
          </div>
          <div class="user-input-box">
            <label for="confirmPassword">Tecnica</label>
            <input type="Technique"
                    id="Technique"
                    name="Technique"
                    placeholder="Tecnica de la obra"/>
          </div>
        </div>
        <div class="gender-details-box">
          <span class="gender-title">PRODUCTO</span>
          <div class="gender-category">
            <input type="radio" name="gender" id="male">
            <label for="male">Crear</label>
            <input type="radio" name="gender" id="female">
            <label for="female">Editar</label>
            <input type="radio" name="gender" id="other">
            <label for="other">Borrar</label>
          </div>
        </div>
        <div class="form-submit-btn">
          <input type="submit" value="CONFIRMAR">
        </div>
      </form>
    </div>
  </body>
</html>
